.progressMainWrapper {
  /* background-color: lightcyan; */
  background-color: transparent;
  height: 1.5px;
  position: sticky;
  top: 64px;
  left: 0;
  z-index: 1;
  width: 100%;
}

.progressMainStyle {
  height: 2px;
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,167,1,1) 35%, rgba(214,0,255,1) 100%);
  width: 15%;
}